{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand">
        <img class="logo" src="/static/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
            {% if (rola == 'administrator') %}
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline" action={{ url_for('logout') }} method="GET">
                <button class="icon-btn gray" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
    </div>
</nav>

<div class="container">

    <div class="row my-5 justify-content-end">
        <a href={{ url_for('export', tip="predmeti") }} role="button" class="btn btn-success mr-3">Export</a>
        
        <a href={{ url_for('predmet_novi') }} role="button" class="btn btn-primary">Dodaj predmet</a>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered">
            <form>
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <input value="{{ args.sifra }}" name="sifra" placeholder="Šifra" type="text" class="form-control">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <input value="{{ args.naziv }}" name="naziv" placeholder="Naziv" type="text" class="form-control">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <select name="godina_studija" class="form-control">
                                    <option value="">Sve</option>
                                    <option {%if args.godina_studija == '1'%}selected{% endif %} value="1">1</option>
                                    <option {%if args.godina_studija == '2'%}selected{% endif %} value="2">2</option>
                                    <option {%if args.godina_studija == '3'%}selected{% endif %} value="3">3</option>
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline">
                                <div class="input-group input-group-sm mr-3"">
                                    <input value="{{ args.espb_od }}" name="espb_od" placeholder="Od" type="text" class="form-control">
                                </div>
                                <div class="input-group input-group-sm">
                                    <input value="{{ args.espb_do }}" name="espb_do" placeholder="Do" type="text" class="form-control">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <select name="obavezni_izborni" class="form-control">
                                    <option value="">Svi</option>
                                    <option {%if args.obavezni_izborni == 'obavezni'%}selected{% endif %}  value="obavezni">Obavezni</option>
                                    <option {%if args.obavezni_izborni == 'izborni'%}selected{% endif %} value="izborni">Izborni</option>
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline-btns">
                                <button type="submit" class="btn btn-primary btn-sm mr-3">Pretraži</button>
                                <a role="button" class="btn btn-secondary btn-sm" href="{{ url_for('predmeti') }}" >Poništi</button>
                            </div>
                        </th>
                    </tr>
                </thead>
            <thead>
                    <tr>
                        <th scope="col">
                            <input value="Sifra" class="header-btn" type="submit" name="order_by">
                            {% if order_type == 'asc' and args.order_by == 'Sifra' %}
                            <i class="fas fa-sort-up"></i>
                            {% elif order_type == 'desc' and args.order_by == 'Sifra' %}
                            <i class="fas fa-sort-down"></i>
                        {% else %}
                        <i class="fas fa-sort light-icon"></i>
                            {% endif %}
                        </th>
                        <th scope="col">
                            <input value="Naziv" class="header-btn" type="submit" name="order_by">
                            {% if order_type == 'asc' and args.order_by == 'Naziv' %}
                            <i class="fas fa-sort-up"></i>
                            {% elif order_type == 'desc' and args.order_by == 'Naziv' %}
                            <i class="fas fa-sort-down"></i>
                        {% else %}
                        <i class="fas fa-sort light-icon"></i>
                            {% endif %}
                        </th>
                        <th scope="col">
                            <label for="order_by_godina_studija" class="header-btn">Godina studija</label>
                            <input style="display: none;" id="order_by_godina_studija" value="godina_studija" class="header-btn" type="submit" name="order_by">
                            {% if order_type == 'asc' and args.order_by == 'godina_studija' %}
                            <i class="fas fa-sort-up"></i>
                            {% elif order_type == 'desc' and args.order_by == 'godina_studija' %}
                            <i class="fas fa-sort-down"></i>
                        {% else %}
                        <i class="fas fa-sort light-icon"></i>
                            {% endif %}
                        </th>
                        <th scope="col">
                            <input value="ESPB" class="header-btn" type="submit" name="order_by">
                            {% if order_type == 'asc' and args.order_by == 'ESPB' %}
                            <i class="fas fa-sort-up"></i>
                            {% elif order_type == 'desc' and args.order_by == 'ESPB' %}
                            <i class="fas fa-sort-down"></i>
                        {% else %}
                        <i class="fas fa-sort light-icon"></i>
                            {% endif %}
                        </th>
                        <th scope="col">
                            <label for="order_by_obavezni_izborni" class="header-btn">Obavezni / Izborni</label>
                            <input style="display: none;" id="order_by_obavezni_izborni" value="obavezni_izborni" class="header-btn" type="submit" name="order_by">
                            {% if order_type == 'asc' and args.order_by == 'obavezni_izborni' %}
                            <i class="fas fa-sort-up"></i>
                            {% elif order_type == 'desc' and args.order_by == 'obavezni_izborni' %}
                            <i class="fas fa-sort-down"></i>
                        {% else %}
                        <i class="fas fa-sort light-icon"></i>
                            {% endif %}
                        </th>
                        <th scope="col">Akcije</th>
                    </tr>
            </thead>
            <input name="prethodni_order_by" value="{{ args.order_by }}" hidden>
            <input name="order_type" value="{{ order_type }}" hidden>
            <input name="page" value="{{ strana }}" hidden />
        </form>
            <tbody>
                {% for predmet in predmeti %}
                <tr>
                    <td>{{predmet.sifra}}</td>
                    <td>{{predmet.naziv}}</td>
                    <td>{{predmet.godina_studija}}</td>
                    <td>{{predmet.espb}}</td>
                    <td>{{predmet.obavezni_izborni}}</td>
                    <td>
                        <a href={{ url_for('predmet_izmena', id=predmet.id) }} role="button"
                            class="icon-btn orange mx-1"><i class="fas fa-edit"></i></a>
                        <button class="icon-btn red mx-1" data-toggle="modal" data-target="#deleteModal{{predmet.id}}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{predmet.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                Sigurno želite da obrišete predmet {{ predmet.naziv }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                <a href={{ url_for('predmet_brisanje', id=predmet.id) }} role="button"
                                class="btn btn-danger">Obriši</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <nav>
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item {% if strana=='1' %} disabled {% endif %}">
                <a class="page-link" href="{{ prethodna_strana }}">Prethodna</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">{{ strana }}</a></li>
            <li class="page-item">
                <a class="page-link" href="{{ sledeca_strana }}">Sledeca</a>
            </li>
        </ul>
    </nav>

</div>

{% endblock %}