{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand">
        <img class="logo" src="/static/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>
        </ul>
        <form class="form-inline">
            <button class="icon-btn gray" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
    </div>
</nav>

<div class="container">

    <div class="row my-5 justify-content-end">
        <a href={{ url_for('predmet_novi') }} role="button" class="btn btn-primary">Dodaj predmet</a>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered">
            <form>
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <input placeholder="Šifra" type="text" class="form-control">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <input placeholder="Naziv" type="text" class="form-control">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <select class="form-control">
                                    <option>Sve</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline">
                                <div class="input-group input-group-sm mr-3"">
                                    <input placeholder="Od" type="text" class="form-control">
                                </div>
                                <div class="input-group input-group-sm">
                                    <input placeholder="Do" type="text" class="form-control">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <select class="form-control">
                                    <option>Svi</option>
                                    <option>Obavezni</option>
                                    <option>Izborni</option>
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline-btns">
                                <button type="submit" class="btn btn-primary btn-sm mr-3">Pretraži</button>
                                <button type="reset" class="btn btn-secondary btn-sm">Poništi</button>
                            </div>
                        </th>
                    </tr>
                </thead>
            </form>
            <thead>
                <tr>
                    <th scope="col">Sifra</th>
                    <th scope="col">Naziv</th>
                    <th scope="col">Godina studija</th>
                    <th scope="col">ESPB</th>
                    <th scope="col">Obavezni / Izborni</th>
                    <th scope="col">Akcije</th>
                </tr>
            </thead>
            <tbody>
                {% for predmet in predmeti %}
                <tr>
                    <td>{{predmet.sifra}}</td>
                    <td>{{predmet.naziv}}</td>
                    <td>{{predmet.godina_studija}}</td>
                    <td>{{predmet.espb}}</td>
                    <td>{{predmet.obavezni_izborni}}</td>
                    <td>
                        <a href={{ url_for('predmet_izmena', id=predmet.id) }} role="button"
                            class="icon-btn orange mx-1"><i class="fas fa-edit"></i></a>
                        <a href={{ url_for('predmet_brisanje', id=predmet.id) }} role="button"
                            class="icon-btn red mx-1"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <nav>
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>

{% endblock %}