{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand">
        <img class="logo" src="/static/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
            {% if (rola == 'administrator') %}
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline" action={{ url_for('logout') }} method="GET">
                <button class="icon-btn gray" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
    </div>
</nav>

<div class="container">

    <div class="row my-5">
        <div class="col-xs-12 col-md-6">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td colspan="2" align="center">
                            <img 
                            {%if student.slika%}
                            src="/static/uploads/{{ student.slika }}"
                            {%else%}
                            src="/static/placeholder.png"
                            {%endif%} 
                            id="slika_pregled" />
                        </td>
                    </tr>
                    <tr>
                        <th>Ime</th>
                        <td>{{student.ime}}</td>
                    </tr>
                    <tr>
                        <th>Ime roditelja</th>
                        <td>{{student.ime_roditelja}}</td>
                    </tr>
                    <tr>
                        <th>Prezime</th>
                        <td>{{student.prezime}}</td>
                    </tr>
                    <tr>
                        <th>Broj indeksa</th>
                        <td>{{student.broj_indeksa}}</td>
                    </tr>
                    <tr>
                        <th>Godina studija</th>
                        <td>{{student.godina_studija}}</td>
                    </tr>
                    <tr>
                        <th>Broj telefona</th>
                        <td>{{student.broj_telefona}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{student.email}}</td>
                    </tr>
                    <tr>
                        <th>Datum rodjenja</th>
                        <td>{{student.datum_rodjenja}}</td>
                    </tr>
                    <tr>
                        <th>JMBG</th>
                        <td>{{student.jmbg}}</td>
                    </tr>
                    <tr>
                        <th>Ukupno ESPB</th>
                        <td>{{student.espb}}</td>
                    </tr>
                    <tr>
                        <th>Prosek ocena</th>
                        <td>{{student.prosek_ocena}}</td>
                    </tr>
                    {% if (rola == 'administrator') %}
                    <tr>
                        <th>Akcije</th>
                        <td>
                            <a href={{ url_for('student_izmena', id=student.id) }} role="button"
                                class="icon-btn orange mx-1"><i class="fas fa-edit"></i></a>
                            <button class="icon-btn red mx-1" data-toggle="modal" data-target="#deleteModal{{student.id}}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{student.id}}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Sigurno želite da obrišete studenta {{ student.ime }} {{ student.prezime }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                    <a href={{ url_for('student_brisanje', id=student.id) }} role="button"
                                    class="btn btn-danger">Obriši</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <form action={{ url_for('ocena_nova', id=student.id) }} method="POST">
                <div class="form-group">
                    <label for="predmet">Predmet</label>
                    <select class="form-control" id="predmet" name="predmet_id">
                        {% for predmet in predmeti %}
                        <option value={{predmet.id}}>{{predmet.naziv}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="ocena">Ocena</label>
                    <input type="number" class="form-control" id="ocena" name="ocena">
                </div>
                <div class="form-group">
                    <label for="datum">Datum</label>
                    <input type="date" class="form-control" id="datum" name="datum">
                </div>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
            </form>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
        <table class="table table-striped table-bordered">
            <!-- <form>
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <input placeholder="Šifra" type="text" class="form-control">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <input placeholder="Naziv" type="text" class="form-control">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <select class="form-control">
                                    <option>Sve</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="input-group input-group-sm">
                                <select class="form-control">
                                    <option>Svi</option>
                                    <option>Obavezni</option>
                                    <option>Izborni</option>
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline">
                                <div class="input-group input-group-sm mr-3"">
                                    <input placeholder="Od" type="text" class="form-control">
                                </div>
                                <div class="input-group input-group-sm">
                                    <input placeholder="Do" type="text" class="form-control">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline">
                                <div class="input-group input-group-sm mr-3">
                                    <input placeholder="Od" type="text" class="form-control">
                                </div>
                                <div class="input-group input-group-sm">
                                    <input placeholder="Do" type="text" class="form-control">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="inline-btns">
                                <button type="submit" class="btn btn-primary btn-sm mr-3">Pretraži</button>
                                <button type="reset" class="btn btn-secondary btn-sm">Poništi</button>
                            </div>
                        </th>
                    </tr>
                </thead>
            </form> -->
            <thead>
                <tr>
                    <th scope="col">Sifra</th>
                    <th scope="col">Naziv</th>
                    <th scope="col">Godina studija</th>
                    <th scope="col">Obavezni / Izborni</th>
                    <th scope="col">ESPB</th>
                    <th scope="col">Ocena</th>
                    <th scope="col">Akcije</th>
                </tr>
            </thead>
            <tbody>
                {% for ocena in ocene %}
                <tr>
                    <td>{{ ocena.sifra }}</td>
                    <td>{{ ocena.naziv }}</td>
                    <td>{{ ocena.godina_studija }}</td>
                    <td>{{ ocena.obavezni_izborni }}</td>
                    <td>{{ ocena.espb }}</td>
                    <td>{{ ocena.ocena }}</td>
                    <td class>
                        <button class="icon-btn red mx-1" data-toggle="modal" data-target="#deleteOcena{{ocena.id}}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="deleteOcena{{ocena.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                Sigurno želite da obrišete ocenu {{ ocena.ocena }} iz predmeta {{ ocena.naziv }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                <a href={{ url_for('ocena_brisanje', student_id=student.id, ocena_id=ocena.id) }} role="button"
                                class="btn btn-danger">Obriši</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

</div>

{% endblock %}